[
  {
    title: "UJET"
    group: "UJET"
    paths: [
      "/Users/daniel/Sources/UJET/ujet"
    ]
  }
  {
    title: "UJET Server"
    group: "UJET"
    paths: [
      "/Users/daniel/Sources/UJET/ujet-server"
    ]
  }
  {
    title: "UJET Client"
    group: "UJET"
    paths: [
      "/Users/daniel/Sources/UJET/ujet-client"
    ]
  }
  {
    title: "UJET Agent Widget"
    group: "UJET"
    paths: [
      "/Users/daniel/Sources/UJET/agent-widget"
    ]
  }
  {
    title: "UJET Omnichannel"
    group: "UJET"
    paths: [
      "/Users/daniel/Sources/UJET/omnichannel"
    ]
  }
  {
    title: "UJET Web SDK"
    group: "UJET"
    paths: [
      "/Users/daniel/Sources/UJET/ujet-web-sdk"
      "/Users/daniel/Sources/UJET/ujet-web-sdk-examples"
      "/Users/daniel/Sources/UJET/ujet-web-sdk-tester"
    ]
  }
  {
    title: "UJET Externals"
    group: "UJET"
    paths: [
      "/Users/daniel/Sources/UJET/ujet-externals"
    ]
  }
  {
    title: "UJET Token Issuer"
    group: "UJET"
    paths: [
      "/Users/daniel/Sources/UJET/ujet-token-issuer"
    ]
  }
  {
    title: "UJET Zendesk"
    group: "UJET"
    paths: [
      "/Users/daniel/Sources/UJET/ujet-zendesk"
    ]
  }
  {
    title: "UJET Salesforce"
    group: "UJET"
    paths: [
      "/Users/daniel/Sources/UJET/ujet-salesforce"
    ]
  }
]
